<h1>Rounds of <%= @game.name %></h1>

<table>
  <tr>
    <td>Name</td>
    <% @game.players.each do |player| %>
      <td><%= player %></td>
    <% end %>
  </tr>
  <% @game.rounds.each do |round| %>
    <tr>
      <!-- Round name as a helper in round_helper.rb -->
      <td><%= round.wind + round.number.to_s %></td>
      <% round.scores.each do |player, score| %>
        <td><%= score %></td>
      <% end %>
    </tr>
  <% end %>
</table>
