<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-fw fa-home"></i>Reachy on Rails</a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<!-- Welcom message as placeholder -->
<!-- Future: user login -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Reachy!</h1>
    <p>Riichi score tracker</p>
    <p><a class="btn btn-primary btn-lg" href="games" role="button">Go to all games</a></p>
  </div>
</div>

<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Reachy 2016</p>
      </div>
    </div>
  </div>
</footer>
