<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-fw fa-home"></i>Reachy on Rails</a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        All Games
        <%= link_to 'Delete all games', destroy_all_games_path,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-danger pull-right" %>
        <%= link_to 'New Game', new_game_path,
          type: "button",
          class: "btn btn-default pull-right" %>
    </h1>
    </div>

    <!-- Game list -->
    <div class="col-md-12">
      <% @games.each do |game| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              <%= link_to game.name, game_path(game) %>
              <a href="#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-trash"></i></a>
              <a href="#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
            </h4>
          </div>
          <div class="panel-body">
            <p>Timestamps, info, etc</p>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <!-- /.row -->

  <hr>

  <!-- footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>copyright &copy; reachy 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
